.main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  margin: auto;
  place-content: center;
  place-items: center;
  justify-content: center;
}

.main > a {
  margin: 16px;
  padding: 16px;

  width: 25vw;
  text-align: center;

  font-weight: 700;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
