.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: flex-start;
}

.nav {
  display: flex;
  flex-direction: row;

  min-height: 10vh;
  height: 100%;
  width: 100vw;

  justify-content: space-between;
  justify-items: stretch;
  align-content: center;
  align-items: center;
}

.nav > * {
  margin: 12px;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: 100%;
}

.danger {
  color: #f44336;
}
