.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: flex-start;
}

.nav {
  display: flex;
  flex-direction: row;

  min-height: 10vh;
  height: 100%;

  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: 100%;
}

.danger {
  color: #f44336;
}
