.main {
  background-color: white;
  color: black;

  font-size: 18px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  transition: all 0.3s ease-in-out;
}
